@{
    ViewBag.Title = "Dashboard";
    ViewBag.Screen = "Dashboard";
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">notifyMessage("@TempData["Message"]");</script>
}
@if (TempData["Error"] != null)
{
    <script type="text/javascript">notifyError("@TempData["Error"]");</script>
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Welcome</h3>
            </div>
        </div>
    </div>
</div>